[submodule "external/mit/rapidjson"]
	path = external/mit/rapidjson
	url = https://github.com/miloyip/rapidjson
[submodule "external/bsd/gtest"]
	path = external/bsd/gtest
	url = https://github.com/google/googletest.git
[submodule "external/bsd/glog"]
	path = external/bsd/glog
	url = https://github.com/google/glog.git
[submodule "external/bsd/clang"]
	path = external/bsd/clang
	url = https://github.com/llvm-mirror/clang
	branch = release_80
[submodule "external/bsd/compiler-rt"]
	path = external/bsd/compiler-rt
	url = https://github.com/llvm-mirror/compiler-rt
	branch = release_80
[submodule "external/bsd/libcxx"]
	path = external/bsd/libcxx
	url = https://github.com/llvm-mirror/libcxx
	branch = release_80
[submodule "external/bsd/libcxxabi"]
	path = external/bsd/libcxxabi
	url = https://github.com/llvm-mirror/libcxxabi
	branch = release_80
[submodule "external/bsd/libunwind"]
	path = external/bsd/libunwind
	url = https://github.com/llvm-mirror/libunwind
	branch = release_80
[submodule "external/bsd/llvm"]
	path = external/bsd/llvm
	url = https://github.com/llvm-mirror/llvm
	branch = release_80
[submodule "external/bsd/clang-tools-extra"]
	path = external/bsd/clang-tools-extra
	url = https://github.com/llvm-mirror/clang-tools-extra
	branch = release_80
[submodule "proteus"]
	path = src/executor
    url = ../proteus.git
[submodule "clotho"]
	path = src/planner
	url = ../clotho.git
[submodule "panorama"]
	path = src/panorama
	url = ../panorama.git
[submodule "deprecated-planner"]
	path = src/SQLPlanner
	url = ../clotho.git
