[submodule "external/bsd/llvm-project"]
	path = external/bsd/llvm-project
	url = https://github.com/llvm/llvm-project
	branch = release_80
	ignore = dirty
[submodule "proteus"]
	path = src/executor
	url = ../proteus.git
[submodule "panorama"]
	path = src/panorama
	url = ../panorama.git
[submodule "frontends/R"]
	path = src/frontends/R
	url = ../ViDaR.git
